body {
    margin: 60px auto;
    width: 75%;
    background-color: #BEF3F3;
}
nav ul, footer ul {
    font-family:'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
/*     color: #ffffff; */
    background-color:#fff
/*     background-clip: content-box; */
/*     border-radius: 1px */
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
/*     background-clip: padding-box; */
}
a {
    text-decoration: none;
    color: #0017FF;
/*     text-align: center */
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border-bottom: 2px solid #333
}
p {
    text-align: justify;
    font-size: 1.3em;
    line-height: 1.2em;
    color: #000000;
}

h2 {
/*     font-size: 2.5em; */
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    padding: 3px;
    color: #ffffff;
    background-color:#001D81

}

footer {
    border-top: 1px solid #333;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}

.roundImg {
  border-radius: 150px 0px 150px;
  border: 5px solid #000000;
}

address {
    font-size: 1.1em;
    font-family:'Sans-Serif';
    font-weight: bold;
}

