body {
    margin: 60px auto;
    width: 63rem;
    padding: 0 2rem;
    /*     width: 63rem; */
    /*     background-color: #000; */
    /*     background-color: gr; */
    background-image: linear-gradient(to right, #A4F2F1, #f2fcfe);
}
nav ul, footer ul {
    font-family:'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-weight: bold;
    font-size: 1.4em;
    text-align: center;
/*     color: #ffffff; */
    background-color:#fff
/*     background-clip: content-box; */
/*     border-radius: 1px */
}
nav ul li, footer ul li {
    display: inline-block;
    margin-right: 20px;
/*     font-size: 1.3em; */
/*     background-clip: padding-box; */
}
a {
    text-decoration: none;
    color: #0017FF;
/*     text-align: center */
}
a:hover {
    text-decoration: underline;
}
h1 {
    padding-top : 2rem;
    font-size: 2.4em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    border-bottom: 2px solid #000
}
p {
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.3em;
    color: #000000;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';

}
li{
  font-size: 1.1em;
/*   font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
}

/* span{ */
/*   color: bisque; */
/* } */

h2 {
/*     font-size: 2.5em; */
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
    padding: 3px;
    color: #ffffff;
/*     background-color:#1A0445 */
    background-image: linear-gradient(to right, #559897, #1A0445);

}

footer {
    border-top: 1px solid #333;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
/*     font-size: 1.8em; */
}

.roundImg {
  border-radius: 150px 0px 150px;
  border: 5px solid #000000;
}

address {
    font-size: 1.3em;
/*     font-family: 'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family: 'Courier New', 'Lucida Console' , 'Monaco';
    font-weight: bold;
    font-style: normal;
/*     color: bisque; */
}

.social{
    font-size: 1.2em;
    font-family:'Sans-Serif';
    font-weight: bold;
}


/* The navigation bar */
.navbar {
  overflow: hidden;
/*   background-color: #001D81; */
/*   background-color: #053A17; */
  background-image: linear-gradient(to left, #559897, #1A0445);
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 63rem; /* Full width */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
/*   color: #f2f2f2; */
color: #fff;
  text-align: center;
  font-family:'Arial', 'Sans-Serif';
    font-weight: bold;
    font-size: 1.5em;
  padding: 10px 23.5px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #fff;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

.anchor{
      height: 1.5rem;
    /* padding: 10rem; */
    display: block;
}
