<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="navbar">
<!-- 	    		<ul> -->
<!-- 	        		<li><a href="/">Home</a></li> -->
<!-- 				<li><a href="#publications">Publications</a></li> -->
<!-- 				<li><a href="#projects">Projects</a></li> -->
<!-- 				<li><a href="#experience">Experience</a></li> -->
<!-- 				<li><a href="#education">Education</a></li> -->
<!-- 				<li><a href="#services">Services</a></li> -->
<!-- 		        	<li><a href="#about">About</a></li> -->
<!-- 	        		<li><a href="#cv">CV</a></li> -->
<!-- 				<li><a href="#flinks">Recommends</a></li> -->
<!-- 	        		<li><a href="#blog">Blog</a></li> -->
				
<!-- 	    		</ul> -->
				
				<a href="/">Home</a>
				<a href="#publications">Publications</a>
				<a href="#people">People</a>
<!-- 				<a href="#projects">Projects</a> -->
				<a href="#experience">Experience</a>
	        		<a href="#cv">CV</a>
<!-- 				<a href="#flinks">Recommends</a> -->
<!-- 	        		<a href="#blog">Blog</a> -->
				
	    		</ul>
			</div>

			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
<!-- 			<footer> -->
<!-- 	    		<ul> -->
<!-- 	        		<li><a href="mailto:its.akhtar90@gmail.com">Email: its[dot]akhtar90[at]gmail[dot]com</a></li> -->
<!--         		  <li><a href="/https://github.com/akhtarvision">Git: github.com/akhtarvision</a></li> -->
<!-- 				</ul> -->
<!-- 			</footer> -->
		</body>
	</html>
